In [12]:
import numpy as np
import pandas as pd
import seaborn as sns

In [13]:
Air=pd.read_csv("archive/city_day.csv",sep=';')
Air.head()

  City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0  Ahmedabad,2015-01-01,,,0.92,18.22,17.15,,0.92,...
1  Ahmedabad,2015-01-02,,,0.97,15.69,16.46,,0.97,...
2  Ahmedabad,2015-01-03,,,17.4,19.3,29.7,,17.4,29...
3  Ahmedabad,2015-01-04,,,1.7,18.48,17.97,,1.7,18...
4  Ahmedabad,2015-01-05,,,22.1,21.42,37.76,,22.1,...

In [14]:
Air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 1 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket  29531 non-null  object
dtypes: object(1)
memory usage: 230.8+ KB

In [ ]:
train1 = Air.drop(['AQI','AQI_Bucket','City','Date','Benzene','Toluene','Xylene'], axis=1)
target=Air['AQI']